@import url("https://fonts.googleapis.com/css2?family=Staatliches&family=Turret+Road:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffea00;
}

header {
  width: 100vw;
  height: 13vh;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  position: relative;
  top: 1vh;
  display: none;
  z-index: 100;
  font-family: "Staatliches";
}

main {
  width: 100vw;
  height: 70vh;
  background: #ffea00;
  margin: -50px auto;
}

main #game {
  width: 60vw;
  margin-left: calc(20vw - 40px);
  height: 100%;
  border: 3px solid #edda00;
  padding: 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 1px 6px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 6px 6px rgba(0, 0, 0, 0.19);
  position: relative;
}

main #game .player1 {
  width: 30vw;
  height: 80%;
  float: left;
}

#choose {
  position: absolute;
  left: 25%;
  color: #fff;
  font: 5em "Turret Road";
  text-shadow: 3px 3px 3px black;
  z-index: 10;
}

.kamImg {
  background: url(../img/kam.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.nojImg {
  background: url(../img/noj.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.papImg {
  background: url(../img/pap.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.kamImgComp {
  background: url(../img/kamComp.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.nojImgComp {
  background: url(../img/nojComp.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}
.papImgComp {
  background: url(../img/papComp.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

main #game .computer {
  width: 30vw;
  height: 80%;
  margin-left: 30vw;
}

main #game .buttons {
  width: 100%;
  height: 20%;
}

main #game .buttons button {
  width: calc(20vw - 10px);
  height: 100%;
  float: left;
  list-style-type: none;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  border-radius: 20px;
  background: #ffcd0a;
  -webkit-box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  transition: 0.2s all ease;
  transform: scale(1);
}

main #game .buttons button:focus {
  outline: none;
  border: none;
}

main #game .buttons button:hover {
  transition: 0.2s all ease;
  transform: scale(0.93);
}

main #game .buttons button p {
  text-align: center;
  font: bold 1.5em "Turret Road";
  text-shadow: 1px 1px 2px black;
  color: #fff;
}

#user:hover {
  top: 15.5vh;
  transition: 0.2s all ease;
  cursor: pointer;
}

#back {
  position: absolute;
  top: 35vh;
  left: 3vw;
  width: 12vw;
  height: 5vh;
  -webkit-box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  background: #ffcd0a;
  border-radius: 20px;
  text-align: center;
  transition: 0.2s all ease;
  text-shadow: 0.2px 0.2px 0.2px black;
}

#back:hover {
  top: 34.5vh;
  transition: 0.2s all ease;
  cursor: pointer;
}

#back p {
  font: bold 1.1em "Turret Road";
  color: #fff;
  padding-top: 1.5vh;
}

#points {
  width: 13vw;
  height: 9vh;
  position: absolute;
  top: 45vh;
  left: 2.5vw;
  text-align: center;
  font: bold 1.1em "Turret Road";
  padding-top: 1.5vh;
  -webkit-box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -1px 19px -6px rgba(0, 0, 0, 0.75);
  background: #ffcd0a;
  color: #fff;
  border-radius: 20px;
}

#points:hover {
  cursor: default;
}

#points p {
  line-height: 30px;
  text-shadow: 0.3px 0.3px 0.3px black;
}
